<% if current_user.role == User::ROLE_TEACHER %>
  <%= link_to 'Add quest', quest_new_path %>
<% end %>

<div class="row marketing">
  <% @quests.each do |quest| %>

    <h4><%= quest.caption %></h4>
    <p><%= quest.description.truncate(200, omission: '') %> <%= link_to 'Open', quest_show_path(quest)%></p>

  <% end %>
</div>
