<%= form_for @quest, url: quest_create_path do |f| %>

  <div class="form-group">
    <%= f.label :caption %>
    <%= f.text_field :caption, :class => 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :description %>
    <%= f.text_area :description, :class => 'form-control', :rows => '5' %>
  </div>

  <div class="questions" id="wrapper_questions" data-option-now="<%= f.object.questions.size %>">
    <%= f.fields_for :questions do |question| %>
    <div class="panel panel-default question-panel">
      <div class="panel-heading">Question - <%= question.index+1 %></div>
      <div class="panel-body">
        <div class="form-group">
          <%= question.text_area :txt, :class => 'form-control', :rows => '5' %>
        </div>

        <div class="form-group">
          <%= question.select :question_type, question_type_options(question.object.question_type), {}, { class: 'form-control selectpicker select_question_type', 'data-id': question.object_id } %>
        </div>

        <div id="question-type-one_<%= question.object_id %>" style="display: <%= question.object.question_type == Question::ONE_ANSWER ? 'block' : 'none' %>;">
          <div class="form-group">
            <%= question.text_field :answer, :class => 'form-control', :rows => '5', :placeholder => 'Answer' %>
          </div>
        </div>

        <%= question.hidden_field :question_type, :id => "question_type_#{question.object_id}" %>

        <div id="question-type-multi_<%= question.object_id %>" style="display: <%= question.object.question_type == Question::MULTI_ANSWER ? 'block' : 'none' %>;">
          <table class="table">
            <thead>
            <tr>
              <th>Option</th>
              <th>Answer</th>
              <th>Correct answer</th>
            </tr>
            </thead>
            <tbody id="question-type-multi-body_list_<%= question.object_id %>" data-options="<%= Question::LIST_OPTIONS.join('|') %>" data-option-now="<%= question.object.question_options.size %>">
              <%= question.fields_for :question_options do |type_option| %>
                <tr class="table_row_question-type-multi">
                  <td><%= Question::LIST_OPTIONS[type_option.index] %></td>
                  <td>
                    <%= type_option.text_field :txt, :class => 'form-control', :placeholder => 'Answer' %>
                  </td>
                  <td>
                    <div class="radio">
                      <label>
                        <input type="radio" name="quest[questions_attributes][<%= question.index %>][test_answer]" value="<%= type_option.index %>" <%= ((type_option.index == question.object.test_answer.to_i) ? 'checked' : '') %> >
                      </label>
                    </div>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
          <button type="button" class="btn btn-primary button_add_option" data-id="<%= question.object_id %>">Add option</button>
          <button type="button" class="btn btn-danger button_remove_option" data-id="<%= question.object_id %>">Remove last</button>
        </div>
      </div>
    </div>
    <% end %>
  </div>

  <div class="form-group">
    <button type="button" class="btn btn-primary button_add_question" data-id="<%= f.object_id %>">Add question</button>
    <button type="button" class="btn btn-danger button_remove_question" data-id="<%= f.object_id %>">Remove last</button>
  </div>

  <div class="form-group">
    <%= f.label :time_quest, 'Time quest ', 'data-help': '(Minutes)' %>
    <%= f.text_field :time_quest, :class => 'form-control' %>
  </div>

  <%= f.submit 'Create', :class => 'btn btn-default' %>

<% end %>