<div class="row marketing">
  <h4><%= @quest.caption %></h4>
  <p><%= @quest.description %></p>
  <% if current_user.role == User::ROLE_STUDENT %>
    <% unless @quest_finished %>
      <%= link_to 'Start', process_run_path, class: 'btn btn-primary right' %>
    <% end %>
    <div>
      <div>The time for completion: <%= @quest.time_quest %> (min)</div>
      <% if @quest_finished %>
      <div>The time spent: <%= @quest_finished.time_spent %>(min)</div>
      <div>The true: <%= @quest_finished.percentage_true %>%</div>
      <div>The false: <%= @quest_finished.percentage_false %>%</div>

        <br><br>
        <% @questions.each_with_index do |question, index| %>
          <div class="panel panel-<%= status_panel_answer(@quest, question) %>">
            <div class="panel-heading">
              <h3 class="panel-title">Question: <%= index %></h3>
            </div>
            <div class="panel-body">
              <div><%= question.txt %></div>
              <br>

              <% if question.question_type  == Question::MULTI_ANSWER %>
                <div>Options</div>
                <div>
                  <% question.question_options.each_with_index do |question_option, index| %>
                    <div><%= Question::LIST_OPTIONS[index] %>: <%= question_option.txt %></div>
                  <% end %>
                </div>
                <br>
                <div>Answer: <%= Question::LIST_OPTIONS[question.answer.to_i] %></div>
                <div>Me answer: <%= Question::LIST_OPTIONS[me_answer(@quest, question).to_i] %></div>
              <% else %>
                <div>Answer: <%= question.answer %></div>
                <div>Me answer: <%= me_answer(@quest, question) %></div>
              <% end %>
            </div>
          </div>
        <% end %>

      <% end %>
    </div>

  <% elsif @quest.user == current_user %>
    <% @quest.questions.all.each_with_index do |question, index| %>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Question: <%= index+1 %></h3>
        </div>
        <div class="panel-body">
          <div>
            <%= question.txt %>
          </div>
          <br>
          <% if question.question_type  == Question::MULTI_ANSWER %>
            <div>Options</div>
            <div>
              <% question.question_options.each_with_index do |question_option, index| %>
                <div><%= Question::LIST_OPTIONS[index] %>: <%= question_option.txt %></div>
              <% end %>
            </div>
            <br>
            <div>Answer: <%= Question::LIST_OPTIONS[question.answer.to_i] %></div>
          <% else %>
            <div>Answer: <%= question.answer %></div>
          <% end %>
        </div>
      </div>
    <% end %>

  <% end %>
</div>
