<ul class="nav nav-pills pull-right">
  <li <%= request.path_info == root_path.to_s ? 'class=active' : '' %>><%= link_to 'Home', root_path %></li>
  <li <%= request.path_info == quests_path.to_s ? 'class=active' : '' %>><%= link_to 'Quests', quests_path %></li>
  <% unless current_user.nil? %>
    <li><%= link_to('Logout', destroy_user_session_path, :method => :delete, data: { confirm: 'Are you sure?' }) %></li>
  <% else %>
    <li><%= link_to 'Sign up', new_user_registration_path %></li>
    <li><%= link_to 'Log in', new_user_session_path %></li>
  <% end %>
</ul>
