<div class="panel panel-default">
  <div class="panel-heading"><%= question.caption %></div>

  <div class="panel-body">
    <% unless question.image.blank? %>
      <p>
        <%= image_tag question.image.url(:thumb) %>
      </p>
    <% end %>
    <p>
      <%= question.description %>
    </p>
  </div>

  <%= multiple_questions(question, my_answer) %>
</div>

<% if show_answer %>
  <p class="color-grey">
    Answer: <%= ((question.question_type == Question::ONE_ANSWER) ? question.answer : Question::LIST_OPTIONS[question.answer.to_i]) %>
  </p>
<% end %>