<div class="jumbotron">
  <h1>BestSchool</h1>
  <p class="lead">
    If you are a student, check your capabilities by answering questions of different categories, from best teachers in the world
  </p>
  <p><a class="btn btn-lg btn-success" href="<%= quests_path %>" role="button">Quests</a></p>
</div>