<h2>Log in</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name), role: 'form') do |f| %>
  <div class="form-group">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, :value => params[:login].to_s, :class => 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: 'off', class: 'form-control' %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="checkbox">
      <label>
        <%= f.check_box :remember_me %> remember me
      </label>
    </div>
  <% end -%>
  <div class="actions">
    <%= f.submit "Log in", :class => 'btn btn-primary' %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
