<%= form_for @answer, url: process_run_path, method: 'post' do |f| %>
  <div class="panel panel-default question-panel">
    <div class="panel-heading"><%= @question.txt %></div>
    <div class="panel-body">
        <% if @question.question_type == Question::MULTI_ANSWER %>
          <table class="table">
            <thead>
            <tr>
              <th>Option</th>
              <th>Answer</th>
              <th></th>
            </tr>
            </thead>
            <tbody>
            <% @question.question_options.each_with_index do |question_option, index| %>
              <tr>
                <td><%= Question::LIST_OPTIONS[index] %></td>
                <td><%= question_option.txt %></td>
                <td><%= f.radio_button :answer, index, checked: true %></td>
              </tr>
            <% end %>
            </tbody>
          </table>
        <% else %>
        <div class="form-group">
          <%= f.text_field :answer, :class => 'form-control', :placeholder => 'Answer' %>
        </div>
        <% end %>
    </div>
  </div>
  <%= f.submit 'Reply', class: 'btn btn-primary' %>
<% end %>
