// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

table tr.table_row_question-type-multi td {
  line-height: 35px;
}
.table_row_question-type-multi div.radio {
  margin-top: 5px;
  margin-bottom: 0;
}