<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="best-freedom">
    <title><%= @layout_title ? "School - #{@layout_title}" : 'BestSchool' %></title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>

    <div class="container">
      <div class="header">
        <%= render 'shared/header' %>
        <h3 class="text-muted">BestSchool</h3>
      </div>

      <% if flash[:notification] %>
        <p class="alert alert-<%= flash[:notification].keys[0] %>"><%= flash[:notification].values[0] %></p>
      <% end %>

      <div class="row marketing">
        <%= yield %>
      </div>

      <div class="footer">
        <p>© Company 2014</p>
      </div>
    </div>

  </body>
</html>
